<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Posts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2> Welcome to Abdulla's Blog</h2>

  <accordion *ngFor="let onePost of posts | async; let i = index" [title]="onePost.title" >

    <ion-list>
      <ion-item>
        {{onePost.body}}
      </ion-item>

    </ion-list>
  </accordion>


  <ion-list>
    <ion-item class="text" *ngFor="let onePost of posts | async; let i = index" [title]="onePost.title"   no-padding>
      {{onePost.title}}

    </ion-item>

  </ion-list>

  <button ion-button (click)="addItem()">Add New Post</button>

</ion-content>
